@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeUp {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fadeUp {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}

.animation-1s {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}


.transition-300 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


html,
body {
  margin: 0;
  position: relative;
  /*height: 100%;*/
  width: 100%;
  -webkit-animation: fade 0.67s;
  -moz-animation: fade 0.67s;
  animation: fade 0.67s;
}

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 300;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}


/* Line wrap break point */
span.lwbp {
  display: inline-block;
}
