<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="BrandLedger is a decentralized advertising and analytics platform built on the Ethereum and NEM blockchains for flexible and efficient transactions between advertisers and publishers.">

    <meta name="keywords" content="BrandLedger,advertising,blockchain,Ethereum,NEM,ETH,XEM,decentralized,token,smart contract,advertiser,publisher,impression,click,attention,analytics,CPI,CPC,cost-per-impression,cost-per-click">

    <meta name="author" content="BrandLedger">

    <title>BrandLedger – {{ page.title }}</title>

    <link rel="icon" type="image/png" href="img/core/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="img/core/apple-touch-icon.png">

    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    <!-- Fonts -->
    <style>
        @font-face{font-family:'Nunito Sans';src:local('Nunito Sans ExtraLight'),local(NunitoSans-ExtraLight),url(fonts/nunito-sans-v2-200-basiclatin.woff2) format("woff2"),url(fonts/nunito-sans-v2-200-basiclatin.woff) format("woff"),url(fonts/nunito-sans-v2-200-basiclatin.ttf) format("truetype");font-weight:200;font-style:normal}@font-face{font-family:'Nunito Sans';src:local('Nunito Sans Light'),local(NunitoSans-Light),url(fonts/nunito-sans-v2-300-basiclatin.woff2) format("woff2"),url(fonts/nunito-sans-v2-300-basiclatin.woff) format("woff"),url(fonts/nunito-sans-v2-300-basiclatin.ttf) format("truetype");font-weight:300;font-style:normal}@font-face{font-family:'Nunito Sans';src:local('Nunito Sans Regular'),local(NunitoSans-Regular),url(fonts/nunito-sans-v2-400-basiclatin.woff2) format("woff2"),url(fonts/nunito-sans-v2-400-basiclatin.woff) format("woff"),url(fonts/nunito-sans-v2-400-basiclatin.ttf) format("truetype");font-weight:400;font-style:normal}
    </style>

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css?1">
    <link rel="stylesheet" href="css/brandledger.css">
</head>
